.body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.page {
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #000;
    min-width: 320px;
}