.navigation__container {
    display: flex;
    align-items: center;
    margin-left: 86px;
    /* display: none; */
}

.navigation__nav-link {
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
    margin-left: 16px;
}

.navigation__nav-link_theme_white {
    text-decoration: none;
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
    margin-left: 16px;
}