@keyframes fadeInBackground {
    from { opacity: 1; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.menu-popup {
    display: none;
}

.menu-popup_opened {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
    animation: fadeInBackground 0.5s forwards;
}

.menu-popup__two-columns {
    display: none;
    animation: slideIn 0.5s forwards;
}

.menu-popup__two-columns_opened {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 100vh;
    width: 67.7%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}



.menu-popup__two-columns-content_navigation {
    display: flex;
}

.menu-popup__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 159px 0 0 0;
    align-items: center;
}

.menu-popup__item {
    display: flex;
    margin-bottom: 24px;
}

.menu-popup__item:last-of-type {
    margin-bottom: 0;
}

.menu-popup__link {
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    min-height: 26px;
    height: 100%;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.menu-popup__link:hover {
    opacity: 0.7;
}

.menu-popup__link_active {
    border-bottom: 2px solid #000;
}

.menu-popup__two-columns-content_profile {
    display: flex;
    margin-bottom: 90px;
} 

.menu-popup__profile-button {
    background: #fff;
    border-radius: 40px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.09);
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.menu-popup__profile-button:hover {
    opacity: 0.7;
}

.menu-popup__profile-link {
    display: flex;
    cursor: pointer;
}

.menu-popup__close-button {
    position: absolute;
    top: 22px;
    right: 22px;
    background: none;
    border: none;
    cursor: pointer;
    background-image: url('../../images/menu-popup__close-button.svg');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.menu-popup__close-button:hover {
    opacity: 0.8;
}

@media (max-width: 500px) {
    .menu-popup__two-columns {
        width: 100%;
    }

    .menu-popup__close-button {
        top: 13px;
        right: 13px;
    }

    .menu-popup__list {
        margin: 144px 0 0 0;
    }

    .menu-popup__link {
        min-height: 20px;
    }

    .menu-popup__two-columns-content_profile {
        margin-bottom: 46px;
    }
}