.portfolio {}

.portfolio__title {
    margin: 100px 0 0 0;
    padding: 0;
    color: #A0A0A0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.portfolio__projects {
    list-style: none;
    padding: 0;
    margin: 46px 0 125px 0;
    display: flex;
    flex-direction: column;
}

.portfolio__item {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    width: 100%;
    border-bottom: solid 1px #E8E8E8;
    padding: 15px 0 10px 0;
    justify-content: space-between;
}

.portfolio__link {
    display: flex;
    text-decoration: none;
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
}

.portfolio__link-arrow {
    display: flex;
    display: inline-block;
    margin: 0;
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 200% */
    letter-spacing: -1.2px;
}
  