.promo {
    background: #073042;
    padding: 75px 70px;
}

.promo__grid {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'title image'
    'subtitle image'
    'button image';
}

.promo__title {
    grid-area: title;
    max-width: 640px;
    width: 100%;
    color: #fff;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    margin: 0;
}

.promo__subtitle {
    grid-area: subtitle;
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    max-width: 310px;
    width: 100%;
    margin: 36px 0 0 0;
}

.promo__button {
    grid-area: button;
    width: 129px;
    height: 36px;
    background: none;
    border-radius: 3px;
    border: 1px solid #FFF;
    opacity: 0.6;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin: 146px 0 0 0;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.promo__button:hover {
    opacity: 0.8;
}

.promo__image {
    grid-area: image;
    margin: 0;
    justify-self: center;
}

@media screen and (max-width: 885px) {
    .promo {
        padding: 0 0 77px 0;
    }

    .promo__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        'image'
        'title'
        'subtitle'
        'button';
        
    }

    .promo__title {
        justify-self: center;
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        margin-top: 48px;
    }

    .promo__subtitle {
        justify-self: center;
        text-align: center;
        margin: 22px 0 0 0;
        max-width: 260px;
        width: 100%;
    }

    .promo__button {
        justify-self: center;
        margin: 92px 0 0 0
    }

    .promo__image {
        margin: 140px 0 0 0;
    }
}

@media screen and (max-width: 650px) {
    .promo__title {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -1.2px;
        max-width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .promo {
        padding: 70px 0 31px 0;
    }

    .promo__image {
        margin: 0;
        width: 210px;
    }

    .promo__title {
        margin-top: 44px;
    }

    .promo__subtitle {
        margin: 24px 0 0 0;
    }

    .promo__button {
        margin: 80px 0 0 0;
    }
}